@use "../utilities/mixins";

.separator-line,
.separator-line1,
.separator-line2 {
  border: none;
  height: 25px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgb(10, 39, 169),
    rgb(53, 126, 163),
    rgb(101, 28, 152)
  );
  background-size: 200% 100%;
  animation: animated-gradient ease-in-out infinite;
  animation-duration: 9s;
  margin: 0 0;
}

@keyframes animated-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.separator-line {
  @include mixins.box-size(850px, 15px);
}
.separator-line1 {
  @include mixins.box-size(1050px, 15px);
}
.separator-line2 {
  @include mixins.box-size(1200px, 15px);
}

//  <!-- animation CSS background -->
//     <div class="animationContainer"></div>
.animationContainer {
  position: fixed; // Se mantiene fija al fondo
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #faf6f5, #cbd6ea, #faf6f5, #cbd6ea);
  z-index: -1;
  background-size: 300% 300%;
  animation: color 25s ease-in-out infinite alternate;
}

@keyframes color {
  0% {
    background-position: 0% 75%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 75%; // Igual que 0%
  }
}
