@use "../utilities/mixins";
@use "../utilities/variables";


.f-container {
  padding-top: 20px;
  @include mixins.general-flex(column, start, center);
  .f-icons {
    .footer-logo {
      @include mixins.box-size(50px, 50px);
    }
    .footer-container {
      @include mixins.general-flex(column, start, center);

      .footer-title {
        font-size: variables.$font-size-footer;
        font-weight: 300;
      }
    }

    @include mixins.general-flex(column, start, center);
    gap: 10px;
    .social-media-links {
      @include mixins.general-flex(row, start, center);
      margin: 0;
      padding-bottom: 0px;
      gap: 40px;
      .icons-styles {
        @include mixins.box-size(30px, 30px);
        fill: variables.$icon-fill-color;
        stroke-width: 1px;
        stroke: variables.$icon-stroke-color;
      }
    }
  }
}
.circle-icon {
  stroke: #000000;
  stroke-width: 1px;
  fill: #ffffffe9;
}

// @media (max-width: 450px) {
//   .f-container {
//     padding-top: 40px;
//     .f-icons {
//       .footer-logo {
//         @include mixins.box-size(40px, 40px);
//       }
//       .footer-container {
//         .footer-title {
//           font-size: variables.$font-size-movile-footer;
//           font-weight: 300;
//         }
//       }
//       .social-media-links {
//         padding-bottom: 40px;
//         gap: 40px;
//         .icons-styles {
//           @include mixins.box-size(25px, 25px);
//         }
//       }
//     }
//   }
// }
// @media (min-width: 451px) and (max-width: 1024px) {
//   .f-container {
//     @include mixins.general-flex(row, end, center);

//     padding-top: 40px;
//     .f-icons {
//       .footer-logo {
//         @include mixins.box-size(45px, 45px);
//       }
//       .footer-container {
//         .footer-title {
//           font-size: variables.$font-size-tablet-footer;
//           font-weight: 300;
//         }
//       }
//       .social-media-links {
//         padding-bottom: 40px;
//         gap: 40px;
//         .icons-styles {
//           @include mixins.box-size(30px, 30px);
//         }
//       }
//     }
//   }
// }
