@use "../utilities/mixins";
@use "../utilities/variables";

/* IMG img_title  */
.img_title {
  @include mixins.box-size(0 auto, 80px);
}
/* Containers WEB   */
.aboutme_container {
  @include mixins.general-flex(row, center, center);

  gap: 30px;
  padding-bottom: 10px;
}
.about_me {
  @include mixins.box-size(500px, 400px);
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.8;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05) rotate(1deg);
    filter: brightness(95%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}

.dataBands {
  @include mixins.general-flex(row, center, flex-start);
  gap: 30px;
  padding-bottom: 20px;
}

.data_container {
  // box container - agrega efecto al contenedor
  @include mixins.box-container2(300px);
  @include mixins.box-size(240px, 490px);
  // ALINEAR ITEMS DE MI CONTENEDOR SPACE-BEETWEEN
  @include mixins.general-flex(column, space-between, center);

  border-radius: 25px;
  // border: 1px solid rgba(160, 154, 142, 0.181);
  padding: 15px;

  .band_style {
    //  X = 200, y = 200 px
    @include mixins.box-size(200px, 200px);
    object-fit: cover;
    border-radius: 0 0 0 34px;
    opacity: 0.9;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.05);
      filter: brightness(95%);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      // cursor: pointer;
    }
  }
}

.aboutme_paragrah {
  @include mixins.box-container(500px);
  @include mixins.general-flex(row, center, center);
  gap: 30px;
  padding: 10px;

  p {
    margin: 0;
  }

  .about-me-pic {
    @include mixins.box-size(300px, 450px);
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(1.05) rotate(1deg);
      filter: brightness(95%);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }

  // About me paragrah - link (YoutubeChannel)

  .my-channel {
    @include mixins.general-flex(row, none, center);
    gap: 10px;
    a {
      @include mixins.general-flex(row, center, center);
    }
    h5 {
      //Para centrarlo
      margin: 0;
    }

    .music-links1 {
      @include mixins.box-size(50px, 50px);
    }
    .appMusic3 {
      fill: variables.$music-icon-color2;
      stroke-width: 1px;
    }
    h5 {
      font-size: variables.$font-size-h5;
    }
  }

  .text-aboutme {
    @include mixins.general-flex(column, center, center);
    gap: 10px;
    text-align: center;
    max-width: 600px;
  }
}

.b-section-container {
  padding-top: 20px;
}

// <section>
//   <div class="effects-container">
//     <div class="item effects-1">1</div>
//     <div class="item effects-2">2</div>
//     <div class="item effects-3">3</div>
//     <div class="item effects-4">4</div>
//     <div class="item effects-5">5</div>
//   </div>
// </section>

.effects-container {
  
  @include mixins.general-grid(7, 3);
  gap: 30px;
  grid-template-areas:
    "effect-title effect-title effect-title"
    "effects-1 effects-1 effects-3"
    "effects-1 effects-1 effects-3"
    "effects-2 effects-2 effects-3"
    "effects-2 effects-2 effects-3"
    "effects-4 effects-4 effects-4"
    "effects-4 effects-4 effects-4";

  .item {
    border-radius: 20px;
    border: 1px solid red;
    color: white;
  }
}

.effect-title {
  padding: 30px;
  background-color: rgb(234, 101, 53);
  color: white;
  grid-area: effect-title;
  @include mixins.general-flex(row, center, center);
}

.effects-1 {
  background-color: yellow;
  grid-area: effects-1;
  @include mixins.general-flex(row, center, center);
  gap: 30px;

  .preset-pic {
    @include mixins.box-size(100px, 100px);
    border: 1px solid black;
  }
}
.effects-2 {
  background-color: red;
  grid-area: effects-2;
  @include mixins.general-flex(row, center, center);
  gap: 30px;

  .preset-pic {
    @include mixins.box-size(100px, 100px);
    border: 1px solid black;
  }
}
.effects-3 {
  background-color: green;
  grid-area: effects-3;
  @include mixins.general-flex(row, center, center);
  gap: 30px;

  .preset-pic {
    @include mixins.box-size(100px, 100px);
    border: 1px solid black;
  }
}
.effects-4 {
  background-color: rgb(208, 231, 65);
  grid-area: effects-4;
  @include mixins.general-flex(row, center, center);
  gap: 30px;

  .preset-pic {
    @include mixins.box-size(100px, 100px);
    border: 1px solid black;
  }
}
.effects-5 {
  background-color: rgb(187, 74, 168);
  grid-area: effects-5;
  @include mixins.general-flex(row, center, center);
  gap: 30px;

  .preset-pic {
    @include mixins.box-size(100px, 100px);
    border: 1px solid black;
  }
}
.effects-6 {
  background-color: rgb(42, 67, 106);
  grid-area: effects-6;
  @include mixins.general-flex(row, center, center);
  gap: 30px;

  .preset-pic {
    @include mixins.box-size(100px, 100px);
    border: 1px solid black;
  }
}
