@use "../utilities/extend";
@use "../utilities/mixins";
@use "../utilities/variables";

/* @media device_media */
/* movil */
@media (min-width: 451px) and (max-width: 1024px) {
  /* fuentes */
  h1 {
    font-size: variables.$font-size-tablet-h1;
  }
  h2 {
    font-size: variables.$font-size-tablet-h2;
  }
  h3 {
    font-size: variables.$font-size-tablet-h3;
  }
  h4 {
    font-size: variables.$font-size-tablet-h4;
    @include mixins.title-flex(center);
    padding: 20px;
    text-align: center;
  }
  p {
    font-size: variables.$font-size-tablet-p;
  }
  // Font Nav
  .font_import {
    font-size: variables.$font-size-tablet-nav;
  }
  .p_bands {
    font-size: variables.$font-size-tablet-p-bands;
  }

  //  Picture Size

  .img_title {
    height: 80px;
  }
  .logo {
    height: 55px;
    width: auto;
  }
  //  Menu - Hamburguer
  .nav_menu {
    height: 45px;
    width: auto;
  }

  /* Containers WEB   */
  /* Containers WEB   */
  .aboutme_container {
    @include mixins.general-flex(row-reverse, center, center);
    gap: 30px;
    padding-bottom: 10px;
  }
  .about_me {
    @include mixins.box-size(300px, 450px);
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
    transition: all 0.8s ease;

    &:hover {
      transform: scale(1.05) rotate(0deg);
      filter: brightness(95%);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }
  .aboutme_paragrah {
    @include mixins.box-container(450px);
    @include mixins.general-flex(row-reverse, center, center);
    gap: 30px;
    padding: 10px;
    .about-me-pic {
      @include mixins.box-size(260px, 390px);
      object-fit: cover;
      border-radius: 10px;
      opacity: 0.8;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.05) rotate(1deg);
        filter: brightness(95%);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
    }
    .text-aboutme {
      max-width: 500px;
      text-align: left;
    }
    .my-channel {
      @include mixins.general-flex(none, center, center);
      gap: 8px;
      a {
        @include mixins.general-flex(row, center, center);
      }
      h5 {
        //Para centrarlo
        margin: 0;
      }
    }
  }

  .dataBands {
    margin: 0;
    @include mixins.general-flex(row, center, center);
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 10px;

    .data_container {
      @include mixins.box-container2(300px);
      @include mixins.box-size(240px, 480px);
      @include mixins.general-flex(column, space-between, none);

      border-radius: 15px;
      border: 1px solid rgba(186, 191, 210, 0.833);
      padding: 15px;
      gap: 5px;

      .band_style {
        //  X = 200, y = 200 px
        @include mixins.box-size(200px, 200px);
        object-fit: cover;
        border-radius: 10px;
        opacity: 0.9;
        transition: all 0.5s ease;

        &:hover {
          transform: scale(1.05);
          filter: brightness(95%);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
          cursor: pointer;
        }
      }

      .music-links-container {
        @include mixins.general-flex(row, center, center);
        padding: 10px;
        margin: 0;
        @include mixins.box-size(170px, 40px);
        border-radius: 20px;
        opacity: 0.9;
        transition: all 1s ease; // ← suaviza la transición

        gap: 18px;

        .music-links {
          @include mixins.general-flex(row, center, center);
          @include mixins.box-size(30px, 30px);
        }
      }
    }
  }

  .links_chords {
    padding-top: 20px;
  }
  .links_info {
    padding-top: 20px;
  }
  .li_styles {
    font-size: variables.$font-size-tablet-links;
    .list-style-link {
      @include mixins.link-style();
      font-size: variables.$font-size-tablet-links;
      &:hover {
        cursor: pointer;
        color: #007aff;
      }
    }
  }

  .scale_group {
    padding: 10px;
    .scale_container {
      @include mixins.box-container1(1010px);
      @include mixins.general-grid(auto, 1);
      grid-template-areas:
        "title_main"
        "scale_concept"
        "scale_structure"
        "scale_example";
    }
  }

  /* CSS Form */
  .form_container {
    padding: 10px 20px;
    background-color: #f2f2f7;
    border: none;
    border-radius: 15px;
  }
  .col-12 {
    margin: 0px;
    @include mixins.general-flex(row, end, none);
  }
  .btn {
    @include mixins.box-size(100px, 40px);
  }

  .form-select {
    color: #8e8e93;
    font-size: variables.$font-size-tablet-select-form;
  }
  .form-control {
    color: #8e8e93;
    font-size: variables.$font-size-tablet-labels;
  }
  /* label form Conectaconmigo */
  .form-label {
    text-align: justify;
    font-size: variables.$font-size-tablet-labels;
    font-weight: 300;
  }

  // Animation

  .separator-line {
    @include mixins.box-size(400px, 15px);
  }
  .separator-line1 {
    @include mixins.box-size(500px, 15px);
  }
  .separator-line2 {
    @include mixins.box-size(600px, 15px);
  }

  .links-acceso {
    margin: 0;
    p {
      margin: 0;
    }
  }

  // Cards

  .cards-container-info {
    @include mixins.general-flex(row, center, center);
    flex-wrap: wrap;
    gap: 10px;

    .cards-container-box {
      @include mixins.box-size(400px, 200px);

      .card-image {
        top: 50%;
        left: 50%;
        transform: translate(1%, -32%);
        @include mixins.box-size(100%, 100%);
        object-fit: cover;
      }

      .hidden-card {
        @include mixins.general-flex(row, center, center);
        p {
          font-size: variables.$font-size-cards-tablet;
        }
        a {
          text-align: center;
          font-size: variables.$font-size-cards-button-tablet;
        }
      }
    }
  }

  .f-container {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
