@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  padding: 10px 20px;
}

/* NAV Styles */
/* UL contenedor de mi NAV se agrega padding top para separarlo */
.navbar-nav {
  padding-top: 10px;
}

/* Funcion Active para denotar que estamos en una pagina en especifico se debe cambiar en cada page-html */
.nav-link.active {
  background-color: rgba(234, 175, 132, 0.1450980392);
  border-radius: 10px;
  padding: 5px 10px;
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

/* modifico <a class="nav-link active (agrego una nueva clase para modificar el texto del menu pre definido */
.font_import {
  color: #000000;
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  font-size: 15px;
  font-weight: 300;
}

.nav-link.font_import:hover {
  color: rgba(0, 0, 255, 0.6039215686);
  font-weight: 900;
}

.logo {
  height: 50px;
  width: auto;
}

/* bg-body-tertiary Background menu bar */
/* line 26<span class="navbar-toggler-icon"></span>
 Icono del menu tipo hamburguesa /// */
.nav_menu {
  height: 35px;
  width: auto;
}

/* Padding para separar el menu del H1 */
.navbar {
  padding-bottom: 20px;
}

/* line 24  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" Borde del boton */
.navbar-toggler {
  padding: 8px;
  border-radius: 15px;
  border-color: rgba(148, 164, 177, 0.681);
}

/* esta funcion activa la sombra sobre el boton */
.navbar-toggler:focus {
  box-shadow: none;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  color: #000000;
  font-weight: 400;
  transition: all 0.6s ease;
  display: flex;
  justify-content: center;
  gap: 10px;
}
h1:hover {
  transform-style: preserve-3d;
  color: #007aff;
  filter: brightness(80%);
  transform: scale(1.02);
}

h2 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #000000;
  display: flex;
  justify-content: start;
}

h3 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  color: #000000;
  display: flex;
  justify-content: start;
}

h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7411764706);
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 30px;
  background: linear-gradient(to left, rgba(127, 211, 165, 0.576), rgb(195, 219, 231), rgb(221, 199, 237));
}
h4:hover {
  transition: 3s;
  background: linear-gradient(to left, rgba(127, 134, 211, 0.576), rgb(222, 195, 231), rgb(237, 236, 199));
}

p {
  color: #000000;
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
}

.p_bands {
  color: #000000;
  font-size: 14px;
  text-align: justify;
  line-height: 1.4;
}

.links_chords {
  padding-top: 20px;
}

.links_info {
  padding-top: 20px;
}

.li_styles .list-style-link {
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  color: black;
}
.li_styles .list-style-link:hover {
  cursor: pointer;
  color: #007aff;
}

/* IMG img_title  */
.img_title {
  width: 0 auto;
  height: 80px;
}

/* Containers WEB   */
.aboutme_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 10px;
}

.about_me {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.about_me:hover {
  transform: scale(1.05) rotate(1deg);
  filter: brightness(95%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.dataBands {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding-bottom: 20px;
}

.data_container {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
  background-size: 30px;
  border-radius: 15px;
  width: 240px;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  border-radius: 15px;
  border: none;
  padding: 15px;
}
.data_container .band_style {
  width: 210px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.9;
  transition: all 0.5s ease;
}
.data_container .band_style:hover {
  transform: scale(1.05);
  filter: brightness(95%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.aboutme_paragrah {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
  background-size: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
}
.aboutme_paragrah .about-me-pic {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.aboutme_paragrah .about-me-pic:hover {
  transform: scale(1.05) rotate(1deg);
  filter: brightness(95%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.aboutme_paragrah .text-aboutme {
  max-width: 600px;
  text-align: left;
}

.b-section-container {
  padding-top: 20px;
}

.scale_group {
  padding: 10px;
}
.scale_group .scale_container {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: repeat(5, 1fr);
  border: none;
  border-radius: 20px;
  padding: 10px;
  grid-template-areas: "title_main title_main title_main title_main title_main" "scale_concept scale_concept scale_concept scale_structure scale_structure" "scale_example  scale_example scale_example scale_example scale_example ";
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
  background-size: 30px;
  border-radius: 15px;
}

.title_main {
  grid-area: title_main;
  display: flex;
  justify-content: center;
}

.scale_concept {
  grid-area: scale_concept;
  display: flex;
  justify-content: center;
  text-align: center;
}

.scale_structure {
  grid-area: scale_structure;
  display: flex;
  justify-content: center;
}

.scale_example {
  grid-area: scale_example;
  display: flex;
  justify-content: center;
}

.btn-primary {
  background-color: #007aff;
  border: none;
  color: #ffffff;
  font-size: 14px;
}

/* CSS Form */
.form_container {
  padding: 10px 20px;
  background-color: #f2f2f7;
  border: none;
  border-radius: 15px;
}

.col-12 {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: none;
}

.btn {
  width: 100px;
  height: 40px;
}

.form-select {
  color: #8e8e93;
  font-size: 13px;
}

.form-control {
  color: #8e8e93;
  font-size: 13px;
}

/* label form Conectaconmigo */
.form-label {
  text-align: justify;
  font-size: 13px;
  font-weight: 300;
}

.separator-line,
.separator-line1,
.separator-line2 {
  border: none;
  height: 25px;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(10, 39, 169), rgb(53, 126, 163), rgb(101, 28, 152));
  background-size: 200% 100%;
  animation: animated-gradient ease-in-out infinite;
  animation-duration: 9s;
  margin: 0 0;
}

@keyframes animated-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.separator-line {
  width: 850px;
  height: 15px;
}

.separator-line1 {
  width: 1050px;
  height: 15px;
}

.separator-line2 {
  width: 1200px;
  height: 15px;
}

.animationContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #f3e9e8, #96b9d9, #f3e9e8, #96b9d9);
  z-index: -1;
  background-size: 300% 300%;
  animation: color 15s ease-in-out infinite alternate;
}

@keyframes color {
  0% {
    background-position: 0% 75%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 75%;
  }
}
/* @media device_media */
/* movil */
@media (max-width: 450px) {
  /* fuentes */
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
  }
  p {
    font-size: 15px;
  }
  .font_import {
    font-size: 14px;
  }
  .p_bands {
    font-size: 14px;
  }
  .img_title {
    height: 40px;
  }
  .logo {
    height: 45px;
    width: auto;
  }
  .nav_menu {
    height: 35px;
    width: auto;
  }
  /* Containers WEB   */
  /* Containers WEB   */
  .aboutme_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 10px;
  }
  .about_me {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
    transition: all 0.8s ease;
  }
  .about_me:hover {
    transform: scale(1.05) rotate(0deg);
    filter: brightness(95%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .aboutme_paragrah {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
    background-size: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .aboutme_paragrah .about-me-pic {
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
    transition: all 0.3s ease;
  }
  .aboutme_paragrah .about-me-pic:hover {
    transform: scale(1.05) rotate(1deg);
    filter: brightness(95%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .aboutme_paragrah .text-aboutme {
    max-width: 600px;
    text-align: left;
  }
  .dataBands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }
  .data_container {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
    background-size: 20px;
    border-radius: 15px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center;
    border-radius: 15px;
    border: none;
    padding: 15px;
    gap: 15px;
  }
  .data_container .band_style {
    width: 160px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.9;
    transition: all 0.5s ease;
  }
  .data_container .band_style:hover {
    transform: scale(1.05);
    filter: brightness(95%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .links_chords {
    padding-top: 20px;
  }
  .links_info {
    padding-top: 20px;
  }
  .li_styles {
    font-size: 15px;
  }
  .li_styles .list-style-link {
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
  .li_styles .list-style-link:hover {
    cursor: pointer;
    color: #007aff;
  }
  .scale_group {
    padding: 10px;
  }
  .scale_group .scale_container {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
    background-size: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(1, 1fr);
    border: none;
    border-radius: 20px;
    padding: 10px;
    grid-template-areas: "title_main" "scale_concept" "scale_structure" "scale_example";
  }
  /* CSS Form */
  .form_container {
    padding: 10px 20px;
    background-color: #f2f2f7;
    border: none;
    border-radius: 15px;
  }
  .col-12 {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: none;
  }
  .btn {
    width: 100px;
    height: 40px;
  }
  .form-select {
    color: #8e8e93;
    font-size: 14px;
  }
  .form-control {
    color: #8e8e93;
    font-size: 14px;
  }
  /* label form Conectaconmigo */
  .form-label {
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
  }
  .separator-line {
    width: 180px;
    height: 15px;
  }
  .separator-line1 {
    width: 250px;
    height: 15px;
  }
  .separator-line2 {
    width: 340px;
    height: 15px;
  }
}
/* @media device_media */
/* movil */
@media (min-width: 451px) and (max-width: 1024px) {
  /* fuentes */
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  p {
    font-size: 17px;
  }
  .font_import {
    font-size: 16px;
  }
  .p_bands {
    font-size: 14px;
  }
  .img_title {
    height: 80px;
  }
  .logo {
    height: 55px;
    width: auto;
  }
  .nav_menu {
    height: 45px;
    width: auto;
  }
  /* Containers WEB   */
  /* Containers WEB   */
  .aboutme_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 10px;
  }
  .about_me {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
    transition: all 0.8s ease;
  }
  .about_me:hover {
    transform: scale(1.05) rotate(0deg);
    filter: brightness(95%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .aboutme_paragrah {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
    background-size: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
  }
  .aboutme_paragrah .about-me-pic {
    width: 330px;
    height: 650px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
    transition: all 0.3s ease;
  }
  .aboutme_paragrah .about-me-pic:hover {
    transform: scale(1.05) rotate(1deg);
    filter: brightness(95%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .aboutme_paragrah .text-aboutme {
    max-width: 500px;
    text-align: left;
  }
  .dataBands {
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
  }
  .data_container {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
    background-size: 20px;
    border-radius: 15px;
    width: 240px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    border-radius: 15px;
    border: none;
    padding: 15px;
    gap: 15px;
  }
  .data_container .band_style {
    width: 160px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.9;
    transition: all 0.5s ease;
  }
  .data_container .band_style:hover {
    transform: scale(1.05);
    filter: brightness(95%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .links_chords {
    padding-top: 20px;
  }
  .links_info {
    padding-top: 20px;
  }
  .li_styles {
    font-size: 17px;
  }
  .li_styles .list-style-link {
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    font-size: 17px;
  }
  .li_styles .list-style-link:hover {
    cursor: pointer;
    color: #007aff;
  }
  .scale_group {
    padding: 10px;
  }
  .scale_group .scale_container {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
    background-size: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(1, 1fr);
    border: none;
    border-radius: 20px;
    padding: 10px;
    grid-template-areas: "title_main" "scale_concept" "scale_structure" "scale_example";
  }
  /* CSS Form */
  .form_container {
    padding: 10px 20px;
    background-color: #f2f2f7;
    border: none;
    border-radius: 15px;
  }
  .col-12 {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: none;
  }
  .btn {
    width: 100px;
    height: 40px;
  }
  .form-select {
    color: #8e8e93;
    font-size: 14px;
  }
  .form-control {
    color: #8e8e93;
    font-size: 14px;
  }
  /* label form Conectaconmigo */
  .form-label {
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
  }
  .separator-line {
    width: 400px;
    height: 15px;
  }
  .separator-line1 {
    width: 500px;
    height: 15px;
  }
  .separator-line2 {
    width: 600px;
    height: 15px;
  }
}
.f-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.f-container .f-icons {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.f-container .f-icons .footer-logo {
  width: 50px;
  height: 50px;
}
.f-container .f-icons .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.f-container .f-icons .footer-container .footer-title {
  font-size: 14px;
  font-weight: 300;
}
.f-container .f-icons .social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-bottom: 40px;
  gap: 40px;
}
.f-container .f-icons .social-media-links .icons-styles {
  width: 30px;
  height: 30px;
  fill: rgba(6, 45, 60, 0.539);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.9);
}

.circle-icon {
  stroke: #000000;
  stroke-width: 1px;
  fill: rgba(255, 255, 255, 0.9137254902);
}

/*# sourceMappingURL=style.css.map */
